@import "tailwindcss";

@layer base {
  :root {
    --clr-dark: #0D0D0D;
    --clr-light: #FDFDFD;
    --clr-gray:#878787;
    --clr-blue: #0070F9;
    --clr-light-gray: #cecece;
    --clr-red: #E22517;

    --custom-bg-color: var(--clr-dark);
    --custom-text-color: var(--clr-light);
    --custom-ratio: 5/2;

  }
}

@layer utilities {
  .bg-custom {
    background-color: var(--custom-bg-color);
  }
  .text-custom {
    color: var(--custom-text-color);
  }
  .bg-custom-inverse {
    background-color: var(--custom-text-color);
  }
  .text-custom-inverse {
    color: var(--custom-bg-color);
  }

  .bg-custom-gray {
    background-color: var(--clr-gray);
  }

  .text-custom-gray {
    color: var(--clr-gray);
  }
  
  .border-custom-gray {
    border-color: var(--clr-gray);
  }

  .bg-custom-blue {
    background-color: var(--clr-blue);
  }

  .text-custom-blue {
    color: var(--clr-blue);
  }

  .text-custom-light-gray {
    color: var(--clr-light-gray);
  }

  .bg-custom-light-gray {
    background-color: var(--clr-light-gray);
  }

  .border-custome-light-gray{
    border-color: var(--clr-light-gray);
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--clr-light) var(--clr-dark);
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: var(--clr-dark);
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--clr-light);
    border-radius: 10px;
    border: 2px solid var(--clr-dark);
  }

  .aspect-custom-banner{
    aspect-ratio: var(--custom-ratio);
  }

  .w-half{
    width: 50%;
  }

  .bg-custom-red {
    background-color: var(--clr-red);
  }

  .text-custom-red {
    color: var(--clr-red);
  }
}